.cart-container {
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

.btn {
    font-size: 1.2rem;
}

.cart-header {
    font-size: 2rem;
    border-bottom: .2px solid #999;
}

.cart-product {
    text-align: left;
}

.cart-p-img {
    width: 7rem;
}

.cart-p-detail {
    min-width: 15rem;
    max-width: 20rem;
    font-size: 1.4rem;
}

.cart-p-detail span {
    font-size: 1.2rem;
}

.cart-p-count {
    font-size: 1.2rem;
}

.cart-p-count div {
    padding: 5px;
    color: red;
    cursor: pointer;
}

.cart-p-footer {
    font-size: 1.2rem;
}

.cart-footer {
    font-size: 1.4rem;
}