h2 {
    padding-bottom: 50px;
    color: #333;
    font-size: 3.6rem;
    font-weight: 400 !important;
}


.card-container {
    font-size: 1.6rem;
    border: .5px solid #ffaf32;
}

.card-header {
    text-transform: capitalize;
}

.card-img {
    border-bottom: .5px solid #ffaf32;
    border-top: .5px solid #ffaf32;
}

.card-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
}

.card-price {
    margin: auto;
    text-transform: uppercase;
}

.card-button {
    margin: auto;
    padding: 10px 15px;
    background-color: #ffaf32;
    border: none;
    cursor: pointer;
    transition: all .5s;
}

.card-button:hover {
    background-color: #ffaf36;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (min-width: 992px) {
    .col-p-lg {
        flex: 0 0 auto;
        width: 24%;
    }
}

@media (min-width: 768px) and (max-width:992px) {
    .col-p-md {
        flex: 0 0 auto;
        width: 32.3333333% !important;
    }
}

@media (max-width: 768px) {
    .col-p {
        flex: 0 0 auto;
        width: 49%;
    }
}